<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Join us and create a blog</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">“A creative life is an amplified life. It's a bigger life, a happier life, an expanded life, and a hell of a lot more interesting life” – Elizabeth Gilbert</p>
    </div>
</div>